{% extends 'nucleo/layout.html' %}

{% block content %}

<div class="grid-cards">
  <!-- Primer fila: 4 tarjetas pequeñas -->
  <div class="card">10+<span>Proyectos Freelance</span></div>
  <div class="card">
    600+<span>Horas de Formación Web Certificadas</span>
    <a href="#" class="btn-certificados">Ver ›</a>
  </div>
  <div class="card">Django<span>Full Stack Dev</span></div>
  <div class="card">2 +<span>Años de Experiencia</span></div>

  <!-- Segunda fila: tarjeta grande -->
  <div class="card big">
    <h2>Tu socio ideal en desarrollo web</h2>
    <span>
     Desarrollador Fullstack: Bases sólidas en python, Django, JavaScript potenciadas por 10+ años de experiencia en resolución de problemas de IT
    </span>
    <a href="#" class="btn">Contáctame ›</a>
  </div>

  <!-- Tercera fila: 2 tarjetas horizontales -->
  <div class="card wide">
    Últimos Proyectos<br>
    <a href="{% url 'proyectos' %}" class="btn">Ver más ›</a>
  </div>
  <div class="card wide">
    Clientes Satisfechos<br>
    <span>Freelance | Proyectos personales | Empresas locales</span>
  </div>
</div>

{% endblock %}
