* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
    display: flex;
}

.sidebar {
    width: 350px;
    background-color: #000;
    padding: 20px;
    box-sizing: border-box;
}

.profile {
    text-align: center;
    margin-bottom: 30px;
}

.profile img {
    width: 130px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 2rem;
}

.profile h2 {
    margin: 10px 0 5px;
    font-size: 2rem;
}

.profile .tag {
    font-size: 0.9em;
    color: #aaa;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-left: 4rem;
    margin-top: 4rem;
    
}

nav ul li {
    margin: 15px 0;
    margin-top: 3rem;
    
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1em;
    
}

nav ul li a span {
    margin-right: 10px;
    font-size: 1.3em;
}

.main-content {
    flex: 1;
    padding: 40px;
    min-height: 100%vh;
    background: radial-gradient(circle at center, #3b0066 0%, #111 40%);
    color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    min-height: 100vh; /* para que tenga mínimo altura completa */
}

/* Estilos para las tarjetas en la vista principal */
.grid-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 40px;
  background: radial-gradient(circle at center, #3b0066 0%, #111 40%);
}

.card {
 background-color: #1a1a1a;
  color: white;
  padding: 30px;
  border-radius: 12px;
  font-size: 2.5rem;
  font-weight: bold;
  box-shadow: 0 0 15px rgba(128, 0, 255, 0.2);
  transition: transform 0.2s ease;
  display: flex;               
  flex-direction: column;      
  justify-content: center;   
  align-items: center;       
  text-align: center;
  min-height: 150px;          
}
/* Estilos para el carrusel de tarjetas */


.card span {
  display: block;
  font-size: 1.5rem;
  font-weight: normal;
  margin-top: 10px;
  color: #aaa;
}

.card:hover {
  transform: scale(1.05);
}

/* Tarjeta grande (ocupa 2x2 columnas) */
.card.big {
  grid-column: span 2;
  grid-row: span 2;
  text-align: left;
  font-size: 1.1rem;
}

/* Tarjetas anchas (rectangulares horizontales) */
.card.wide {
  grid-column: span 2;
  font-size: 2rem;
}

/* Botón estilo enlace */
.btn {
  display: inline-block;
  color: #8e63f9;
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
}
.btn-certificados {
  color: #8e63f9;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 20px;
}

ul li a i {
  margin-right: 10px;
  font-size: 1.2em;
}

/* estilo para mis tarjeta de presentacion del proyecto */ 

.grid-proyectos {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Aquí forzamos 2 columnas iguales */
    gap: 40px;
    background: #1a1a1a;
}

.card-carrousel {
  background-color: #1a1a1a;
  color: white;
  font-size: 2.5rem;
  transition: transform 0.2s ease;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.1); /* borde del color de la marca */
  padding-bottom: 20px;
}

.carousel-item img {
    border-radius: 15px; /* ajusta el valor según el redondeo que quieras */
}

.tech-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 20px;
    margin-left: 16px;
}

.tag {
    display: inline-block;
    color: rgba(255, 255, 255, 0.4);
    padding: 2px 20px;
    border: 1px solid rgba(255, 255, 255, 0.1); /* borde del color de la marca */
    border-radius: 5px;
    margin: 5px;
    font-size: 0.4em;
    font-family: 'Inter', 'Roboto', sans-serif;
    font-weight: 300;

}

.card-carrousel h3 {
  margin-left: 20px;
  margin-top: 10px;
}

.carousel {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.carousel-item img {
  height: 100%;
  width: 100%;
}


.home {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    color: white;
}
